body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dcb9c5 !important;
}
/* Barra de navegacion */

.navbar {
  background-color: rgba(230, 75, 127, 0.986);
}

.navbar-toggler {
  background-color: rgba(230, 75, 127, 0.986) !important;
}

.nav-links a {
  color: white !important;
  margin: 0 0.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.nav-links a:hover {
  background-color: white;
  color: rgba(133, 146, 158) !important;
  margin: 0 1rem;
  cursor: pointer;
}
/*Header*/
.text-typing {
  animation: type 1s steps(52) forwards;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: bold;
  
}

@keyframes type {
  0% {
    width: 0ch;
  }
  50% {
    width: 70ch;
  }
  100% {
    width: 22ch;
  }
}

@media (max-width: 768px) {
  .text-typing {
    font-size: 1.2rem;
  }
}

#home {
  background-color: #dcb9c5;
}

.contenedor-imagen {
  position: absolute;
  text-align: center;
  margin-top: 10%;
  
}

.foto-personal {
  height: 171px;
  width: 180px;
}
@media (max-width: 500px) {
  .foto-personal {
    height: 70%;
    width: 0%;
  }
}

/* HOME */

.home {
  font-size: 1.3rem;
}


